<footer class="footer">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h2>
                Henry Chen
            </h2>
        </div>
        <div class="d-flex justify-content-center">
            <h3>
                Contact Me
            </p>
        </div>
        <div class="contact d-flex justify-content-center">
            <div class="col-lg-6">
                <form action="https://docs.google.com/forms/d/e/1FAIpQLSc89bTFzP_mxSI9eWfAoLLpFQBgVrhOVdgHw-nY1VhFwj1jJg/formResponse" method="POST" target="hidden_iframe" onsubmit="return handleSubmit(this);">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input class="form-control" type="text" name="entry.600617102" placeholder="your name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input class="form-control" type="email" name="entry.1655737107" placeholder="your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="entry.1264368772" placeholder="message" required></textarea>
                    </div>
                    <input type="text" name="entry.9999999999" style="display:none" tabindex="-1" autocomplete="off">
                    <div class="text-center">
                        <button type="submit" id="submit-button">submit</button>
                    </div>
                    <iframe name="hidden_iframe" style="display:none;" onload="onFormSubmitSuccess()"></iframe>
                </form>
            <iframe name="hidden_iframe" style="display:none;"></iframe>
            </div>
        </div>
        <div class="copyright text-center">
            <p>Embedded videos are provided via YouTube and remain the property of their respective creators.</p>
            <p>Copyright © 2025 Henry Chen. All Rights Reserved.</p>
        </div>
    </div>
</footer>